<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        /* Custom CSS styles */
        .candidate {
            margin-bottom: 20px;
        }

        .candidate ul {
            list-style: none;
            padding: 0;
            margin-top: 5px;
        }

        .candidate ul li {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Candidate Search</h1>
    <form th:action="@{/chercher}" method="get" class="mb-4">
        <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="Enter a keyword" required>
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <h2 class="mb-3">Results:</h2>
    <ul class="list-group">
        <li th:each="candidate : ${candidates}" class="list-group-item candidate">
            <div>
                <h5 class="mb-0" th:text="${candidate.firstName + ' ' + candidate.lastName}"></h5>
                <ul class="list-unstyled mt-2">
                    <li th:each="fileName : ${candidate.fileNameList}">
                        <a th:href="@{/candidates/download/{fileName}(fileName=${fileName})}" download class="d-flex align-items-center">
                            <i class="fas fa-download mr-2"></i>
                            <span th:text="${fileName}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<!-- Bootstrap JS scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
