<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Recherche de CV</h1>
<form action="#" method="post" th:action="@{/chercher}">
    <input type="text" name="keyword" placeholder="Entrez un mot-clé" required>
    <button type="submit">Rechercher</button>
</form>
<h2>Fichiers téléchargés :</h2>
<ul>
    <li th:each="candidate : ${candidates}" class="candidate">
        <ul>
            <li th:each="file : ${candidate.fileName}">
                <a th:href="@{/candidates/download/{file}(file=${file})}" th:text="${file}"></a>
            </li>
        </ul>
    </li>
</ul>
</body>
</html>
